/* Btn
------------------------ */
.btn {
  width: 181px;
  height: 52px;
  left: 237px;
  top: 1601px;
  background: #00B4A9;
  border-radius: 19px;

  font-family: $font-family-heading;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;

  &--primary {
    background: #00B4A9;
    color: #FFFFFF;
  }
  &__pink {
    @extend %button-red;
  }
}
