.title {
  font-family: $font-family-heading;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;

  color: #7A4093;
}

.main {
  background: linear-gradient(180deg, #B1B1B7 0%, #FFFFFF 31.77%, #B1B1B7 61.98%);
}